* {
    box-sizing: border-box;
  }

header {
    text-align: center;
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    color: #fff;
    animation: pulsate 0.11s ease-in-out infinite alternate;   
    color: #fff;
    
}
#indexHeader {
    margin-bottom: 50px
}

/* header neon effect */
@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 90px #fff,
        0 0 100px #fff,
        0 0 150px #fff;
    }
   0% {
      /* A slightly smaller blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #fff,
        0 0 73px #fff,
        0 0 80px #fff,
        0 0 94px #fff,
        0 0 140px #fff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 4em;
}

body {
    margin: 0;
    padding: 10px;
    font-family:monospace;
    line-height: 1.5;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    height: auto;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-size: cover;
}
  
.tagline {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 50px
}

/* landing page grid */
.grid {
    display: grid;
    column-gap: 20px;
    row-gap: 40px;
    margin: 0;
    margin-bottom: 10px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 30px 70px 100px minmax(0, 1fr);
    grid-template-areas: 
     "name name name name name name"
     "fortune fortune fortune fortune fortune fortune"
     "mood mood number number color color"
     "moodGIF moodGIF moodGIF colorGIF colorGIF colorGIF";
}
  
#name {
    grid-area: name;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4em;
    text-align: center;

}

#fortune {
    grid-area: fortune;
    color: #fff;
    font-size: 1.5em;
    text-align: center;

}

#mood {
    grid-area: mood;
    color: #fff;
    font-size: 1.2em; 
    text-align: center;
}
  
#number {
    grid-area: number;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
  
#color {
    grid-area: color;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
  
#moodGIF {
    grid-area: moodGIF;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    color: #fff;
}

#colorGIF {
    grid-area: colorGIF;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    color: #fff;
}

/* background */

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
    z-index: -1;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    
    -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
}

.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
}

.moon {
  height: 50vh;
  width:50vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

.moon2 {
    height: 50vh;
    width:50vh;
    position: absolute;
    z-index: 3;
    left: 20px;
    bottom: 20px;
}

/* neon Button */
.a-n2{ text-align: center;
  text-decoration: none; position: relative;  padding: 15px 30px; overflow: hidden; transition: 0.2s all;  color: #fff;  letter-spacing: 4px;
}

.a-n2:hover{
  background:#d7d9da; color: #000;
  box-shadow: 0px 0px 10px #67c3ee, 0px 0px 40px#8ed1f0, 0px 0px 80px #a7e2fd; transition-delay: 0.2s;
}

.a-n2 span:nth-child(1){
  top: 0px;
  left: -91%;
  width: 100%;
  height: 2px;
  background: #26a0da;
}

.a-n2:hover span:nth-child(1){
  left:0%; 
  transition: 0.3s; 
}

.a-n2 span:nth-child(3){
  bottom: 0px;
  right: -91%;
  width: 100%;
  height: 2px;
  background: #26a0da;
}

.a-n2:hover span:nth-child(3){

  right:0%; 
  transition: 0.3s; 
}

.a-n2 span:nth-child(2){
  bottom: -70%;
  right: 0%;
  width: 2px;
  FONT-WEIGHT: 100;
  background: #26a0da;
  height: 100%;
}

.a-n2:hover span:nth-child(2){
  bottom:0%; 
  transition: 0.3s; 
}

.a-n2 span:nth-child(4){
  top: -70%;
  left: 0%;
  width: 2px;
  FONT-WEIGHT: 100;
  background: #26a0da;
  height: 100%;
}

.a-n2:hover span:nth-child(4){
  top:0%; 
  transition: 0.3s; 
}

#button{
    text-align: center;
    padding-top: 1.2em;
}

button {
  background: transparent;
  border-radius: 8px;
  font-style: bold;
  font-family: monospace;
  border-color: white;
  font-size: 0.9em;
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        font-size: 4.2em;
        margin-bottom: 0.4em;
        font-style: italic;
    }
    .grid {
        display: grid;
        column-gap: 20px;
        row-gap: 40px;
        margin: 0;
        margin-bottom: 10px;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: 30px 100px 100px minmax(0, 1fr);
        grid-template-areas: 
         "name name name name name name"
         "fortune fortune fortune fortune fortune fortune"
         "mood mood number number color color"
         "moodGIF moodGIF moodGIF colorGIF colorGIF colorGIF";
    }
    #name {
        font-size: 1.3em;
    }

    #fortune {
        font-size: 1.3em;

    }
}

@media (min-width: 320px) and (max-width: 480px) {
    header {
        font-size: 3em;
        margin-bottom: 0.7em;
        font-style: italic;

    }

    body {
        margin-left: 10px;
        margin-right: 10px;
    }
   
    .grid {
        display: grid;
        column-gap: 20px;
        row-gap: 40px;
        margin: 0;
        margin-bottom: 10px;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 30px 140px 60px 60px 60px minmax(0, 1fr) minmax(0, 1fr);
        grid-template-areas: 
         "name name name"
         "fortune fortune fortune"
         "mood mood mood"
         "number number number"
         "color color color"
         "moodGIF moodGIF moodGIF"
         "colorGIF colorGIF colorGIF";
    }

    #name {
        font-size: 1.2em;
    }

    #fortune {
        font-size: 1.2em;
        font-style: bold;

    }
}
