* {
    box-sizing: border-box;
  }

header {
    text-align: center;
    font-size: 5em;
    font-family: 'Playfair Display', serif;
    color: #fff;
    animation: pulsate 0.11s ease-in-out infinite alternate;   
    color: #fff;
}
@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 90px #fff,
        0 0 100px #fff,
        0 0 150px #fff;
    }
   0% {
      /* A slightly smaller blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #fff,
        0 0 73px #fff,
        0 0 80px #fff,
        0 0 94px #fff,
        0 0 140px #fff;
    }
  }

h2 {
    text-align: center;
    font-size: 4em;

}
body {
    margin: 0;
    padding: 10px;
    font-family:monospace;
    line-height: 1.5;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: #fff;

    /*
    border-style:dashed;
    border-width: 1.5px;
    border-color:#fff;
    padding-left: 20px;
    padding-right: 20px; */
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
  }

#button{
    text-align: center;
}


#number {
    text-align: center;
}
#fortune {
    text-align: center;
}
#mood {
    text-align: center;
}
#color {
    text-align: center;
}

.grid {
    display: grid;
    column-gap: 20px;
    row-gap: 40px;
    margin: 0;
    margin-bottom: 10px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 20px 50px 50px minmax(0, 1fr);
    grid-template-areas: 
     "name name name name name name"
     "fortune fortune fortune fortune fortune fortune"
     "mood mood number number color color"
     "moodGIF moodGIF moodGIF colorGIF colorGIF colorGIF";
     color: #fff;
}
  
#name {
    grid-area: name;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;

    
}
#fortune {
    grid-area: fortune;
    color: #fff;

    
}

#mood {
    grid-area: mood;
    color: #fff;

    
    
}
  
#number {
    grid-area: number;
    color: #fff;

    
   
}
  
#color {
    grid-area: color;
    color: #fff;

    
 
}
  
#moodGIF {
    grid-area: moodGIF;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    color: #fff;

    
    
}

#colorGIF {
    grid-area: colorGIF;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    color: #fff;


}



#button{
    text-align: center;
}

body {
    height: auto;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-size: cover;
  }


@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
    z-index: -1;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}




.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}


.moon {
  height: 50vh;
  width:50vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

.moon2 {
    height: 50vh;
    width:50vh;
    position: absolute;
    z-index: 3;
    left: 20px;
    bottom: 20px;
  }
  


  